#NavBar {
    padding: 60px 0px;
    .user-info {
      text-align: center;
      color: white;
      font-weight: 500;
      font-family: "Poppins";
      padding-bottom: 20px;
    }
    .user-name {
      p {
        line-height: 1;
      }
      .john-text {
        opacity: 0.7;
        font-size: 12px;
      }
    }
    .ant-menu-inline > .ant-menu-item{
      line-height: 25px !important;
      height: 25px !important;
    }
    .ant-menu {
      .ant-menu-item {
        display: flex;
        flex-direction: column;
        height: auto !important;
        padding: 10px 5px 3px 5px!important;
        margin:15px;
        text-align: center;
        width: auto;
        border-radius: 15px;
        span {
          font-size: 11px;
        }
        img {
          margin: 0 auto;
        }
      }
    
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
      background-color: #423869 !important;
    }
  }
  
  #modal-appointment {
    .ant-modal-close {
      padding: 0px;
      .ant-modal-close-icon {
        padding: 4px;
        background-color: #423869;
        border-radius: 15px;
        color: white;
        font-size: 0.75rem;
        position: absolute;
        top: 11px;
        right: 12px;
      }
    }
    .ant-modal-content {
      padding: 20px;
      border-radius: 12px;
      .ant-modal-body {
        padding: 10px;
      }
    }
    .modal-card {
      padding: 0px;
      .ant-card-body {
        padding: 10px;
        .telehealth-row {
          background-color: rgba(192, 192, 192, 0.1);
          padding: 8px;
          border-radius: 10px;
          .clinic-appoint-ment-img {
            width: 50px;
          }
        }
      }
    }
  }