@import '@/assets/variables/light';
#NavBar {
    padding: 60px 0px;
    .user-info {
      text-align: center;
      color: $text-white;
      font-weight: 500;
      font-family: "Poppins";
      padding-bottom: 20px;
    }
    .user-name {
      p {
        line-height: 1;
      }
      .john-text {
        opacity: 0.7;
        font-size: 12px;
      }
    }
    .ant-menu-inline > .ant-menu-item{
      line-height: 25px !important;
      height: 25px !important;
    }
    .ant-menu {
      .ant-menu-item {
        display: flex;
        flex-direction: column;
        height: auto !important;
        padding: 15px 5px 5px!important;
        margin:15px;
        text-align: center;
        width: auto;
        border-radius: 8px;
        span {
          font-size: 11px;
        }
        img {
          margin: 0 auto;
        }
      }
    
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
      background-color: #42295a !important;
    }
  }
  
  #modal-appointment {
    .ant-modal-close {
      padding: 0px;
      .ant-modal-close-icon {
        padding: 4px;
        background-color: $primary-color;
        border-radius: 15px;
        color: $text-white;
        font-size: 0.75rem;
        position: absolute;
        top: 11px;
        right: 12px;
      }
    }
    .ant-modal-content {
      padding: 20px;
      border-radius: 12px;
      .ant-modal-body {
        padding: 10px;
      }
    }
    .modal-card {
      padding: 0px;
      .ant-card-body {
        padding: 10px;
        .telehealth-row {
          background-color: rgba(192, 192, 192, 0.1);
          padding: 8px;
          border-radius: 10px;
          .clinic-appoint-ment-img {
            width: 50px;
          }
        }
      }
    }
  }
  @media screen and (max-width:1024px) {
    #modal-appointment{
      .ant-modal {
             width: 50% !important;
    }
  }
    .text-white{
       font-size: 0.9rem;
    }
    .appt-text{
      padding-bottom:0px !important;
      padding-top: 29px !important;
    }
    .appointment-card {
      .ant-card-body {
        padding: 24px 10px !important;
      }
    }
    .menu-card{
      padding-bottom: 2.5rem !important;
    }
    
    
  }
  @media screen and (max-width:768px) {
    #modal-appointment{
      .ant-modal {
   
        width: 65% !important;
      
    }
    
    }
    .text-white{
      font-size: 1.125rem;
   }
   .appt-text{
     padding-bottom:0px !important;
     padding-top: 10px !important;
   }
    .appointment-card {
      .ant-card-body {
        padding: 24px 10px !important;
      }
    }
    .menu-card{
      padding-bottom: 4.5rem !important;
    }
    
  }
  
  @media screen and(max-width:576px) {
    #modal-appointment{
      .ant-modal {
   
        width: 80% !important;
      
    }
    
    }
    .new-patient-list{
      margin-top: 20px;
    }
  
  }
  @media screen and(max-width:425px) {
    
   
    .new-patient-list{
      margin-top: 20px;
    }
    .text-white{
      font-size: 13px;
    }
    .chart-container {
      .ant-card-head-title  {
        padding: 0;
        text-align: center;
      }
      .ant-card-extra {
        position: absolute;
        padding-top: 5px;
        top: 50px;
        left: 70px;
    }
    }
    
  }
  @media screen and(max-width:375px) {
    .new-patient-list{
      margin-top: 20px;
    }
    .text-white{
      font-size: 12px;
    }
    
  }
  @media screen and (max-width:768px) {
    .user-info {
      text-align: center;
      padding: 30px 0;
      .user-photo {
        margin: 0 !important;
        padding: 0 !important;
     
    }
    p {
      margin-left: 0 !important;
    padding-left: 0 !important; 
    }
    span {
      margin-left: 0 !important;
      padding-left: 0 !important; 
    }
  }
    li.ant-menu-item {
      padding-left: 0 !important;
      border-radius: 8px;
      img {
        padding-left: 15px;
    }
    span.nav-text {
      padding-left: 20px;
    }
  }
  }