#LayoutHeader{
    .ant-input {
      background-color: #f7f7f7;
      border: none;
      height: 40px;
    }
    .ant-calendar-picker-input.ant-input {
      border-radius:10px;
      
      background: #423869;
      color:white;
      height: 45px;
      padding: 4px 40px;
     
      
  }
  .ant-calendar-picker{
    .ant-calendar-picker-icon{
        position: absolute;
        color:white;
        left: 28px;
      }
    }
    i.anticon.anticon-bell {
      padding: 10px;
      background: #423869;
      border-radius: 5px;
      color: #ffffff;
      font-size: 17px;
  }
  .ant-badge-status-warning {
    background-color: #faad14;
    position: absolute;
    right: 13px;
    top: 14px;
  }
  }
  