.footer-left-side{
    // width:100%;
    padding: 10px;
    p{
        font-size: 14px;
        font-weight: 400;
        font-family: $font-family-poppins;
        opacity: 0.8;
    }
    .anticon{
        font-size: 30px;
        margin-left: 8px;
    }

}
.quick-links{
    h1{
        font-size: 1.5rem;
        font-weight: 500;
    }

    a{
        font-size: 0.87rem;
        font-family: $font-family-poppins;
        font-weight: 400;
        line-height: 2;
        color: #222831;
        opacity: 80;
    }
}
.footer-right-side{
    h1{
        font-family: $font-family-poppins;
    }
}
@media screen and (max-width:1024px) {
    .quick-links{
        h1{
            font-size: 1.2rem;
        
        }
        li{
            font-size: 0.8rem;
        
        }
    }
    .footer-right-side{
        h1{
            font-size: 1.2rem;
        }
        img{
            width: 14px;
        }
    }
    .footer-left-side{
     
       
        p{
            font-size: 0.9rem;
           
        }
    }
}
@media screen and (max-width: 768px) {  
    .quick-links{
        h1{
            font-size: 1rem;
            margin-top: 12px;
        
        }
    }
     .footer-right-side{
    h1{
        font-size: 1rem;
        margin-top: 12px;
    }
    img{
        width: 12px;
    }
} }