#news-letter{
    .news-letter-bg{
    
        background-image: url('/images/products/Group 2904.png');
        background-size: cover;
        h1{
          
    font-size: 2rem;
    font-family: $font-family-playfairdisplay !important;

        }
        p{
          font-size: 0.9rem;
          font-weight: 400;
          opacity: 0.7;
          font-family: $font-family-montserrat !important;
        }
        .ant-input{
          width: 33%;
          display: block;
          height:50px;
          padding:18px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border:white;
        }
        .ant-btn{
          font-size: 1rem;
          font-weight: 500;
      
          height: 50px;
        }
        background-position: center;
    }
    .news-letter-bg-overlay{
      background-image: url('/images/home/Group 5686.png');
        background-size: cover;
        color: white;
        h1{
          font-size: 2.6rem;
          color: white;
          font-weight: 500;
          font-family: $font-family-montserrat !important;
        }
        p{
          font-size: 1.2rem;
          font-weight: 400;
          opacity: 1;
          font-family: $font-family-montserrat !important;
        }
       span{
        font-size: 1rem;
        opacity: 0.7;
        font-weight: 400;
        font-family: $font-family-montserrat !important;
       }
  }
 
  
  
  
}
@media screen and (max-width:1024px) {
  #news-letter{
    .news-letter-bg{
      .ant-btn{
        font-size: 0.9rem;
       
    
        height: 45px;
      }
     
      h1{
        
  font-size: 1.8rem;
  

      }
      p{
        font-size: 0.8rem;
      }
    }
    .news-letter-bg-overlay{
     
        h1{
          font-size: 1.8rem;

        }
        p{
          font-size: 1rem;

        }
       span{
        font-size: 0.9rem;
  
       }
  }
 
  
  
  
}  
    

}
@media screen and (max-width: 768px) {
  #news-letter{
    .news-letter-bg{

      h1{
        
        font-size: 1.5rem;
        
      
            }
p{
  font-size: 0.8rem;

}
    }
    
    .news-letter-bg-overlay{
     
    h1{
      font-size: 1.4rem;

    }
  p{
    font-size: 0.8rem;
  }
  
  }}
 }
 @media screen and (max-width: 576px) {
  #news-letter{
    .news-letter-bg{
      .ant-input{
        width: 60% !important;
      }

      h1{
        
        font-size: 1.5rem;
        
      
            }
p{
  font-size: 0.8rem;

}
    }
    
    .news-letter-bg-overlay{
     
    h1{
      font-size: 1.4rem;

    }
  p{
    font-size: 0.8rem;
  }
  
  }}
 }
 @media screen and (max-width: 425px) {
  #news-letter{
    .news-letter-bg{
      .ant-input{
        width: 80% !important;
      }

      h1{
        
        font-size: 1.5rem;
        
      
            }
p{
  font-size: 0.8rem;

}
    }
    
    .news-letter-bg-overlay{
     
    h1{
      font-size: 1.4rem;

    }
  p{
    font-size: 0.8rem;
  }
  
  }}
 }