@import '@/assets/variables/light';
@import './baseHeader';
@import './baseNavbar';

html {
  font-size: 16px;
}
* {
  font-family: "Poppins";
 
}
.dashboard-layout{
  
 .ant-layout-sider{
   width:80px !important;
 }
  .ant-layout-sider-dark{
    border-radius:0px 30px 0px 0px;
    background-color: $primary-color;
    width:140px !important;
    #NavBar{
    
    .ant-menu-dark{
      background-color: $primary-color;
    }
    li.logout.ant-menu-item {
      position: absolute;
      bottom: 5px;
      left: 10px;
    }
    }
 
  }
 
}
@media screen and(max-width:768px) {
  .ant-layout-sider{
    display: none;
  }
}