
$primary-color: #423869; // primary color for all components
$secondary-color: #F0FF0E; // primary color for all components
$primary-light-color: #5C9DCF; // primary light color for all components
$link-color: #423869; // link color
$success-color: #92C34B; // success state color
$warning-color: #faad14; // warning state color
$text-red: #f5222d; // error state color
$font-size-base: 14px; // major text font size
$text-info:$primary-color;// color info
$heading-color: #202224; // heading text color
$text-grey: #606060 ; // major text color
$text-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$text-white:white; // major text color
$text-dark:#212121; // major text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #f0f2f5; // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
$background-grey:#F1F6FB;// background grey
$background-grey-light:#F8F5F5;// background grey
$background-grey-dark:#ebe8e8;
$background-white:#fff; // background white
$background-info:#5e17eb ;// background info
$background-primary:$primary-color; // background primary
$background-light-primary:$primary-light-color; // background light primary
$background-success:#66be00; // background success
$background-warning:#faf17f; // background warning
$background-orange:#fdc465; // background orange
$background-red:#de535e;// background red
$text-red:#FF0000;// background red
$text-yellogreen:#CAFE7D;// text yellow green
$text-brown:#8b8b8b;
$color-light-green:#B1E860;
$bg-unactive: #d5d5d5;




// Font Size 
$font-size-extra-large:1.625rem;
$font-size-large: 1rem;
$font-size-medium: 0.875rem;
$font-size-small: 0.75rem;
$font-size-extra-small: 0.625rem;
$font-size-normal:1.125rem;

//Font Family
$font-family-poppins:'Poppins';
