
$primary-color: #423869; // primary color for all components
$secondary-color: #766AA2; // primary color for all components
$primary-light-color: #5C9DCF; // primary light color for all components
$link-color: #423869; // link color
$success-color: #2BC184; // success state color
$warning-color: #faad14; // warning state color
$text-red: #f5222d; // error state color
$font-size-base: 14px; // major text font size
$text-info:#3C3C55;// color info
$text-light-info:#2E2E2E;// color light info
$text-danger:#67677B;//color danger
$heading-color: #434141; // heading text color
$text-grey: #1F212796 ; // major text color
$text-light-gray:#636363; // light gray color
$text-secondary:#41D2F8; // secondary text color
$text-white:white; // major text color
$text-light-dark:#BBBBBB;// color light dark
$text-dark:#1F2127; // major text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #f0f2f5; // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
$background-grey:#E4E4EB;// background grey
$background-grey-light:#9185BEAD;// background grey
$group-calling-bg:#2B1D3C;
$background-grey-dark:#BABABA;
$background-white:#fff; // background white
$background-info:#ACA5C7 ;// background info
$background-primary:$primary-color; // background primary
$background-light-primary:$primary-light-color; // background light primary
$background-success:#12C719; // background success
$background-warning:#faf17f; // background warning
$background-orange:#fdc465; // background orange
$background-red:#de535e;// background red
$text-red:#FF0000;// background red
$text-yellogreen:#CAFE7D;// text yellow green
$text-brown:#8b8b8b;
$color-light-green:#B1E860;
$bg-unactive: #d5d5d5;
$tabs-dark-grey: #7C7C7C;
$meeting-text: #FFFFFF;
$background-input: #f5f5f5;
$border-input: antiquewhite;









// Font Size 
$font-size-extra-large:1.625rem;
$font-size-large: 1rem;
$font-size-medium: 0.875rem;
$font-size-small: 0.75rem;
$font-size-extra-small: 0.625rem;
$font-size-normal:1.125rem;

//Font Family
$font-family-poppins:'Poppins';
