#edit-profile{
    .profile-form-card{
        border-radius: 8px;
        .ant-card-body {
            padding: 8px;
        }
    }

    label.ant-form-item-no-colon {
        font-weight: 600;
    }
.ant-calendar-picker {
    // width: 100%;
    .ant-calendar-picker-icon {
        color: #9E99B2;
    }
}
    button.ant-btn {
        height: 45px;
    }
    .edit-profile-picture {
        .edit-profile-card {
            border-radius: 8px;
            padding-bottom: 25px
        }
        .ant-card-body {
            padding: 10px;
                    .profile-pic{
                        
                            width: 150px;
                             border-radius: 50%; 
                             border: 5px solid #423869;
                    }
                    .camera-icon{
                        margin-right:20px;
                    }
                   
                    .anticon-plus{
                        position: absolute;
                        top: 130px;
                        right: 123px;
                        font-size: 24px;
                        background: #12c719;
                        border-radius: 15px;
                        color: white;
                        padding: 5px;
                    }
                    .license-btn {
                        width: 60%;
                        text-align: left;
                    }
                }
    }

}