@import '@/assets/variables/light';
#edit-profile{
    .profile-form-card{
        border-radius: 8px;
        .ant-card-body {
            padding: 8px;
        }
    }

    label.ant-form-item-no-colon {
        font-weight: 600;
    }
.ant-calendar-picker {
    // width: 100%;
    .ant-calendar-picker-icon {
        color: #9E99B2;
    }
}
    button.ant-btn {
        height: 45px;
    }
    .edit-profile-picture {
        .edit-profile-card {
            border-radius: 8px;
            padding-bottom: 25px
        }
        .ant-card-body {
            padding: 10px;
                    .profile-pic{
                        
                            width: 150px;
                             border-radius: 50%; 
                             border: 5px solid $primary-color;
                    }
                    .camera-icon{
                        margin-right:20px;
                    }
                   
                    .anticon-plus{
                        position: absolute;
                        top: 130px;
                        right: 123px;
                        font-size: 1.5rem;
                        background: #12c719;
                        border-radius: 15px;
                        color: white;
                        padding: 5px;
                    }
                    .license-btn {
                        width: 60%;
                        text-align: left;
                        background: #4b3362;
                        border-radius: 5px;
                    }
                }
    }

}
@media screen and(max-width:1024px) {
    #edit-profile
    {
        .edit-profile-picture 
        {
            .ant-card-body{
                .anticon-plus{
                    right:98px;
                    top:135px;
                }
            } 
        }
    }
}
@media screen and(max-width:768px) {
    #edit-profile
    {
        .edit-profile-picture 
        {
            .ant-card-body{
                .anticon-plus{
                    right:80px;
                    top:138px;
                }
            } 
        }
    }
}
@media screen and(max-width:576px) {
    #edit-profile
    {
        .edit-profile-picture 
        {
            .ant-card-body{
                .anticon-plus{
                    right:205px;
                    top:138px;
                }
            } 
        }
    }
}
@media screen and(max-width:425px) {
    #edit-profile
    {
        .edit-profile-picture 
        {
            .ant-card-body{
                .anticon-plus{
                    right:137px;
                    top:138px;
                }
            } 
        }
    }
}
@media screen and(max-width:375px) {
    #edit-profile
    {
        .edit-profile-picture 
        {
            .ant-card-body{
                .anticon-plus{
                    right:117px;
                    top:138px
                }
            } 
        }
    }
}