// @import '@/assets/variables/light';
@import './productsHeader.scss';
@import './containerCard.scss';
@import '@/assets/variables/light';
#best-products{
  overflow: hidden;
    
      #products-list {
        .discount-tag {
          background-color: $color-light-green;
          color: $text-white;
        }
        .product-brand {
          span {
            font-size:0.875rem;
            font-weight: 500;
            font-family: $font-family-poppins;
          }
          cursor: pointer;
          background-color: $text-white;
          border: 1px solid #a6c9e5;
          color: $heading-color;
      
          border-radius: 0px;
        }
        p {
          font-size: 0.938rem;
          font-weight: 400;
          font-family: $font-family-jost;
          line-height: 2;
        }
        .product-meta {
          h1 {
            font-size: 1.375rem;
            font-weight: 500;
            font-family: $font-family-jost;
          }
        }
        .price-container {
          h1 {
            font-size: 1.5rem;
            font-weight: 600;

          }
          .ant-btn {
            font-size: 1.125rem;
            font-weight: 500;
            font-family: $font-family-poppins;
            height: 45px;
          }
        }
      }
    
      .product-grid {
        .products-card{
          .ant-card-body{
            padding: 10px;
            h3 {
              font-size: 1.1rem;
              font-weight: 500;
              font-family: $font-family-jost;
              line-height: 2;
              text-shadow: 1px 1px #0000001c;



            }
            span {
              font-size: 1rem;
              font-family: $font-family-poppins;
              line-height: 3;
              font-weight: 400;
              color: #afafaf;
            }
            .product-price {
              h1 {
                font-size: 1.4rem;
                font-family: $font-family-jost;
                font-weight: 600;
              }
              del {
                font-size: 1.13rem;
                font-weight: 400;
                font-family: $font-family-jost;
                color: $heading-color;
                opacity: 0.5;
              }
            }
            .card-widgets {
              width: 150px;
              height: 37px;
              padding: 7px;
              background-color: $heading-color;
              opacity: 0.6;
              color: $text-white;
              position: absolute;
              bottom: 125px;
              left: 85px;
            }

          }
          

        }
        img {
          height: 200px;
          object-fit: cover;
        }
       
      }
     
    
  
     
}
@media screen and (max-width: 1024px) { 
  #best-products{
    .mx-5 {
      margin-right: 0.3rem !important ;
      margin-left: 0.3rem !important;
  }
    
    
    .product-grid {
    .products-card{
      .ant-card-body{
        .card-widgets {
          bottom: 104px;
          left: 39px;
        
        }
        .product-price {
          h1 {
            font-size: 1.1rem;
            
          }
          del{ font-size: 1.1rem;
          
        }
        }
        h3 {
          font-size: 0.8rem;
    
        }
      
        span {
          font-size: 0.9rem;
          line-height: 2;
        
        
      }
      
    }}
      }
      #products-list {
        .price-container{
          .ant-btn{
            width: 119%;
            height: 41px;
            font-size: 0.8rem;
          }
        }
      }
    }
   
}
@media screen and (max-width: 768px) { 
   #best-products{

      .mx-5 {
        margin-right: 0 !important ;
        margin-left: 0 !important;
    }   
    .mt-5 {
      margin-right: 0 !important ;
      margin-left: 0 !important;
  }
  .pt-5 {
    margin-right: 0 !important ;
    margin-left: 0 !important;
}
    }
  
}
@media screen and (max-width: 576px) {

  #best-products {
    #products-list{
      .price-container{
        .ant-btn {
          width: 135%;
          height: 36px;
          font-size: 0.5rem;
        }
        h1{
          font-size: 1.3rem;
        }
      }
    }
  .product-grid{
    .products-card {
      .ant-card-body{
        h3 {
          font-size: 1rem;
      }
      span{
        font-size: 1.1rem;
      }
      .product-price{
        h1 {
          font-size: 1.2rem;
      }
      del{
         font-size: 1.2rem;
      }
      } 
      } 
   
    }
  } 
  }
}
@media screen and(max-width:425px) {
  #best-products {
    #products-list{
      .price-container{
        .mt-5{
          margin-top: 0px !important;
        }
        .ant-btn {
          width: 135%;
          height: 36px;
          font-size: 0.8rem;
        }
        h1{
          font-size: 1.3rem;
        }
      }
    }
  .product-grid{
    .products-card {
      .ant-card-body{
        h3 {
          font-size: 1rem;
      }
      span{
        font-size: 1.1rem;
      }
      .product-price{
        
        h1 {
          font-size: 1.2rem;
      }
      del{
         font-size: 1.2rem;
      }
      } 
      } 
   
    }
  } 
  }
}