#drawing {
    .ant-card {
       border-radius: 10px;
    }
    .blue-calling-card.ant-card {
        background-color: #2B1D3C;
        .ant-tabs {
            color: #7C7C7C;
        .ant-tabs-nav .ant-tabs-tab {
            margin: 0;
            padding: 5px 30px;
            .anticon {
                margin: 0;
            }
            .ant-tabs-tab-active {
                color: white;
            }
          
        }
    }
        .ant-tabs-ink-bar {
            background-color: #2BC184;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
            color: white;
            }
            .meeting-duration {
                color: #FFFFFF;
                opacity: 0.49;
            }
            .meeting-txt {
                color: #FFFFFF;
                opacity: 1;
            }
         
    }
    .meeting-icon-box.ant-card {
        background-color: #2B1D3C;
        border-radius: 26px;
        p {
            color: #ffffff;
        }
        .exit-meeting{
            color: #2BC184;
        }
    }
    
}

@media screen and(max-width:1024px) {
    #drawing {
        .meeting-icon-box{
            padding-left: 0 !important;
            padding-right: 0 !important;
          
        }
    }
    
}
@media screen and(max-width:768px) {
    #drawing {
        .multiple-user-calling{
         .calling-img{
             width: 100%;
             margin-top: 31px;
         }
       
        }
    }
    
}
// @media screen and(max-width:425px) {
    
//         .drawing-anything {
//             .padding-xs {
//                 padding-right: 0 !important;
//                 padding-left: 0  !important;
          
//                 margin-right: 0  !important;
//                 margin-left: 0  !important;
//             }
//         }
    
  
    
// }