@import '@/assets/variables/light';
.jobs-card {
    .ant-card-body {
      padding: 20px;
      background-color: $background-grey-light; 
    }
    .anticon {

      opacity: 0.5;
  }


    .card-border {
      .ant-card-body {
        border-left: 5px solid $color-light-green;
      }
    }
  
    h3 {
      font-size: 1.813rem;
      font-weight: 400;
      font-family: $font-family-jost;
    }
    p {
      margin-bottom: 0px;
      line-height: 2;
      font-size: 1.375rem;
      font-family: $font-family-jost;
      // font-weight: 300;
      opacity: 0.6;
    }
    .mt-1{
      font-size: 1.1rem;
      font-weight: 400;
      font-family: $font-family-jost;
    }
 
      .set{
        color:$color-light-green;
        font-weight: 400;
        font-family: $font-family-jost;
        font-size: 1.125rem;
       }
        
  .apply-btn {
      height: 32px;
      font-size: 0.938rem;
      font-family: $font-family-poppins !important;
      font-weight: 500;
      background-color:$secondary-color !important;
      border-color: $secondary-color !important;
      color: $text-dark !important;
    }
    .specialist-btn {
      height: 32px;
      background-color:$background-grey-light;
      border-color: #a6c9e5;
      color: $heading-color;
      font-size: 0.875rem;
      font-family:$font-family-poppins !important;
      font-weight: 500;
    }
  }
  .service-inquiry{
    .ant-form-item-children{
      textarea {
        height: auto;  
    }
    } 
    h2{
      font-size: 1.6rem;
      font-family:$font-family-jost;
      font-weight: 500;
      margin: 0px;
    }
    p{
      opacity: 0.6;
    }
    .ant-modal-title{
      text-align: center;
  
    }
    .ant-modal-footer {
      padding-top: 0px;
      padding-bottom: 0px;
      border:none;
  }
    .ant-modal-header{
      background-color: #0568B5;
  
      .ant-modal-title{
        color: white;
      }
      .btn-color{
        background-color: white; 
        color: white;
      }
    }
  }
  @media screen and (max-width: 1024px) { 
    .jobs-card {
      h3 {
        font-size: 1.3rem;
    
      }
p{
  font-size: 1.1rem;
}
.apply-btn {

  font-size: 0.8rem;

}
.specialist-btn {

  font-size: 0.8rem;

}
.mt-1 {
  font-size: 1rem;

}
    }
    .jobs-container{
      margin-right: 0.3rem !important ;
      margin-left: 0.3rem !important;
    }
   }
   @media screen and (max-width: 425px) { 
    .jobs-card {
      img{
        width:50px;
        padding:0px !important
      }
      h3 {
        font-size: 1.3rem;
    
      }
p{
  font-size: 1.1rem;
}
.apply-btn {

  font-size: 0.8rem;

}
.specialist-btn {
  height: 31px;
  background-color:$background-grey-light;
  border-color: #a6c9e5;
  color: $heading-color;
    font-size: 0.8rem;
    font-family:$font-family-poppins !important;
    font-weight: 400;
    margin-right: 0px !important;
}
.mt-1 {
  font-size: 1rem;

}
    }
    .jobs-container{
      margin-right: 0.3rem !important ;
      margin-left: 0.3rem !important;
    }
   }