@import '@/assets/variables/light';
#search-filters {
  
h3 {
    font-size: 2.5rem;
    font-family: $font-family-playfairdisplay;
    font-weight: 700;
  }
  .ant-collapse {
    border: none;
    
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 0px;
    background-color: $text-white;
    font-size: 1.2rem;
    font-family: $font-family-poppins;
    font-weight: 600;

  }
  .ant-collapse-header {
    font-size: 1.25rem;
    font-family: $font-family-poppins;
  }
  .ant-collapse-content {
    border-top: none;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-checkbox + span {
    color:$text-brown !important;
    font-family: $font-family-poppins;
    opacity: 0.6;
    font-weight: 400;
  }
  i.anticon.anticon-right.ant-collapse-arrow {
    right: 0 !important;
    position: absolute;
    text-align: right !important;
    padding-right: 25px;
    color: #46344E;
    
  }
  i.filter-icon-down.anticon.anticon-down {
    font-size: 0.625rem;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 16px 10px 15px;
  }
  .plus-icon {
    background-color:$background-white;
    border: none;
    color: $primary-color;
    font-family: $font-family-poppins;
  }
  .plus-icon:hover {
    background: $text-white;
  }
  .ant-radio-button-wrapper:first-child:last-child {
    border: none;
    font-size: 0.875rem;
      font-family: $font-family-poppins;
      font-weight: 500;
      white-space:nowrap;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }
  
  .reset-filter {
    background: $background-white;
    border: 1px solid $text-grey;
  }
  .reset-filter:hover {
    background-color: $background-white;
    border: 1px solid $text-grey;
  }

  .reset-filter:focus {
    background-color: $background-white;
    border: 1px solid $text-grey;
  }
  .list-item {
    z-index: 0;
  }
}
.ant-tooltip.ant-slider-tooltip.ant-tooltip-placement-bottom {
  z-index: 0;
}
.ant-slider-rail {
  background-color: $color-light-green;
}
.ant-slider-track {
  background-color: $color-light-green;
}
.ant-slider-handle {
  background-color: $color-light-green;
  border: solid 2px $color-light-green;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: $color-light-green;
}
.ant-slider-step {
  background-color: $color-light-green;
}
.ant-slider-handle:focus {
  border-color: $color-light-green;
  box-shadow: none;
}
.ant-slider-handle.ant-tooltip-open {
  border-color:$color-light-green;
}
.ant-tooltip-arrow::before {
  background-color: $color-light-green;
}
.ant-tooltip-inner {
  background-color: $color-light-green;
}
.ant-slider {
  margin-top: 0px;
}
@media screen and (max-width: 1024px) { 
  #search-filters {
    h3 {
        font-size: 2rem;
       
      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
 
        font-size: 1rem;
     
    
      }
      .ant-radio-button-wrapper:first-child:last-child {
 
        font-size: 0.8rem;
      
      }
    }
   
}
@media screen and (max-width: 768px) {  #search-filters {
  h3 {
      font-size: 1.6rem;
     
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {

      font-size: 0.9rem;
   
  
    }
    .ant-radio-button-wrapper:first-child:last-child {

      font-size: 0.8rem;
    
    }
  }}