@import '@/assets/variables/light';
.view-cart {
  h1{
    margin-bottom: 0px;
    cursor: pointer;
    font-family: $font-family-jost;
    font-size: 1.5rem;
    font-weight: 600;
  
  }
  h3{

 
    font-family: $font-family-jost;
    font-size: 1rem;
    font-weight: 600;
  }
  h4{
   
    font-family: $font-family-jost;
    font-size: 1rem;
    font-weight: 400;
  }
    .ant-table-thead {
      .ant-table-header-column {
      
        .ant-table-column-title {
          font-size: 1.125rem;
          font-weight: 600;
          font-family: $font-family-jost;
          color:$heading-color !important;
          opacity:1
        
        }
      }
    }
    .ant-card-body {
      padding: 10px;
      font-size: 1rem;
    }
    .ant-select-selection--single {
      height: 45px;
      .anticon-down {
        font-size: 0.75rem;
        color:$heading-color;
      }
    }
    .ant-select-selection-selected-value {
      padding: 8px;
      font-size: 1rem;
      font-family: $font-family-jost;
      font-weight: 400;
    }
    img {
      height: 70px;
    }
    p {
      margin-top: 10px;
      font-size: 1rem;
      font-family: $font-family-jost;
      font-weight: 600;
      color: $heading-color;
      margin-bottom: 0px;
    }
    b
    {
      font-size: 1.2rem;
      font-family: $font-family-jost;
      font-weight: 600;
  
    }
   
    .ant-btn {
      background-color: $background-white;
      border-color:$border-color-base;
      span {
        font-size: 1rem;
        font-family: $font-family-jost;
        font-weight: 600;
        opacity: 1;
      }
    }
    .close-icon {
      font-size: 1.125rem;
      color:$text-grey;
      font-weight: 700;
      cursor: pointer;
    }
   
  }
  @media screen and (max-width: 1024px) {
    .view-cart {
       margin-right: 0 !important ;
        margin-left: 0 !important;
        h1
        {
          font-size: 1.2rem;
        }
       
        p{
          font-size: 0.9rem;
        }
        label{
          font-size: 0.9rem;
        }
         b {
          font-size: 1rem;
         
      }
    }
 
  }
 
  @media screen and (max-width: 576px) {

    .view-cart {
    
      
      padding-right: 0 !important ;
      padding-left: 0 !important;
   
   }
  }
  @media screen and (max-width: 425px) {

    .view-cart {
      h3{

 
        font-family: $font-family-jost;
        font-size: 0.7rem;
        font-weight: 500;
      }
    
      
      padding-right: 0 !important ;
      padding-left: 0 !important;
      .ant-table-thead {
        .ant-table-header-column {
          .ant-table-column-title {
            font-size: 0.8rem;
            font-weight: 500;
            color:$heading-color;
            font-family: $font-family-jost;
          }
        }
      }
      p {
        margin-top: 10px;
        font-size: 0.7rem;
        font-family: $font-family-jost;
        font-weight: 600;
        color: $heading-color;
        margin-bottom: 0px;
      }
      b
      {
        font-size: 1.2rem;
        font-family: $font-family-jost;
        font-weight: 600;
    
      }
      span {
        font-size: 1rem;
        font-family: $font-family-jost;
        font-weight: 400;
        opacity: 0.6;
      }
      .close-icon {
        font-size: 1rem;
        color:$text-grey;
        font-weight: 700;
        cursor: pointer;
      }
   
   }
  }