#dashboard {
    .ant-list-split .ant-list-item {
        border-bottom: none !important;
      }
    .new-patient-list {
        border-radius: 10px;
        width: 100%;
        h3 {
          font-size: 1.1rem;
          padding: 10px 0;
        }
        .anticon-small-dash {
          height:30px;
          margin-top: 15px;
        }
        .top-doctors-list-items {
          padding-top: 0px;
          display: flex;
          .ant-card-bordered{
            border:1px solid #ededed;
            border-radius: 10px;
          }
     .ant-card{
      height: 80px;
      width: 100%;
       display: flex;
       .ant-card-body{
        display: flex;
              padding:5px;
              width: 100%;
        .ant-list-item-meta{
            display: flex;
            align-items: center;
            .ant-list-item-meta-title {
              font-size: 0.875rem;
               font-weight: 500;
               margin-bottom: 0px;
               padding: 0px;
             }
             .ant-list-item-meta-description {
              margin-top: 0px;
              padding-top: 0px;
              font-size: 0.625rem;
              line-height: 1.5;
            }
         
        }
        
        .top-doctors-status {
          margin-top: 8px;
         padding: 8px 17px;
          border-radius: 12px;
          border: none;
          width: 84px;
          height: 35px;
          .ant-tag{
            .ant-tag-cyan{
              color: #c2134d;
             background: #e6ffeb;
            }
          }
        }
        .ant-list-item-meta-avatar {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
     }
        }
      }
      .appt-text {
        font-size: 2.4rem;
      }
.tele-health-appointment {
       .chart-container{
        overflow: hidden;
        width: 100%;
        height: 440px;
        border-radius: 15px;
        padding: 20px 0px;
        .apexcharts-menu-icon {
            display: none;
        }
        h2{
          font-size:1.125rem;
          font-weight: 600;
          letter-spacing: 1px;
        }
        .ant-card-head {
            border: none;
        }
        .ant-card-head-title {
          font-weight: 600;
          font-size: 1.125rem;
        }
        .ant-card{
          height: 410px;
          .ant-card-body{
     
           padding:25px;
          
          .chart {
             width:100%;
             overflow-x: scroll !important;
             overflow-y: hidden !important;
            }
        }
      }
       
      }
}
.all-notifications {
.notifications {
    
    border-radius: 10px;
    padding: 5px;
   
   
    // position:absolute; top:0px; left:0px; height:200px; right:0px;overflow:hidden;
    .ant-card-body {
      padding: 5px 0;
      .notification-header{
        width: 100%;
           
    // background: #333;
           padding: 0px;
    
        //  overflow:hidden;
         h1{
          font-size:1.125rem;
          font-weight: 600;
        }
      }
     .view-btn {
       width: 45%;
     }
     
    }
    .scroll-testing{
      height: 325px;
      overflow-y: scroll;
      .notifications-list{
      padding-top: 10px;
      display: flex;
      // background-image: url('/images/Dashboard/Rectangle 26.svg');
      border-radius: 15px;
      .ant-card-bordered{
        border:none;
       border-radius: 15px;
      }
       .ant-card{
         width:100%;
          display: flex;
          box-shadow: rgba(57, 84, 255, 0.04) 0px 3px 6px;
          .ant-card-body{
            display: flex;
          width: 100%;
          padding: 10px;
        .ant-list-item-meta {
            display: flex;
            align-items: center;
          .ant-list-item-meta-title {
            font-size: 0.813rem;
             font-weight: 500;
             margin-bottom: 0px;
             padding: 0px;
           }
           .ant-list-item-meta-description {
            margin-top: 0px;
            padding-top: 0px;
            font-size: 0.625rem;
          }
        .ant-list-item-meta-avatar {
          width: 45px;
          height: 45px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
       
      }
      

    
   }
      
      }
    } 
    }
    .notefications-footer {
      
      width:100%;
     
      text-align: center;
    }
    .scroll-testing::-webkit-scrollbar {
      display: none;
  }
  .scroll-testing {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
}
.menu-card {
    border-radius: 10px;
    h1{
      font-size: 1.125rem;
      font-weight: 600;
    }
    .ant-list-item{
      padding:13px 0;
      cursor: pointer;
    }
    .ant-list-item-meta {
        display: flex;
        align-items: center;
    }
    .ant-list-item-meta-title {
      font-size: 0.875rem;
      // line-height: 13px;
      font-weight: 500;
    }

    .ant-list-item-meta-avatar {
      width: 45px;
      height: 45px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
 
}
#modal-appointment {
  .ant-modal-close {
    padding: 0px;
    .ant-modal-close-icon {
      padding: 4px;
      background-color: #423869;
      border-radius: 15px;
      color: white;
      font-size: 0.75rem;
      position: absolute;
      top: 11px;
      right: 12px;
    }
  }
  .ant-modal-content {
    padding: 20px;
    border-radius: 12px;
    .ant-modal-body {
      padding: 10px;
    }
  }
  .modal-card {
    padding: 0px;
    .ant-card-body {
      padding: 10px;
      .telehealth-row {
        background-color: rgba(192, 192, 192, 0.1);
        padding: 8px;
        border-radius: 10px;
        .clinic-appoint-ment-img {
          width: 50px;
        }
      }
    }
  }
}
@media screen and (max-width:1024px) {
  #modal-appointment{
    .ant-modal {
           width: 70% !important;
  }
}
  .text-white{
     font-size: 0.9rem;
  }
  .appt-text{
    padding-bottom:0px !important;
    padding-top: 29px !important;
  }
  .appointment-card {
    .ant-card-body {
      padding: 24px 10px !important;
    }
  }
  .menu-card{
    padding-bottom: 2.5rem !important;
  }
  
  
}
@media screen and (max-width:768px) {
  #modal-appointment{
    .ant-modal {
 
      width: 50% !important;
    
  }
  
  }
  .text-white{
    font-size: 1.125rem;
 }
 .appt-text{
   padding-bottom:0px !important;
   padding-top: 10px !important;
 }
  .appointment-card {
    .ant-card-body {
      padding: 24px 10px !important;
    }
  }
  .menu-card{
    padding-bottom: 4.5rem !important;
  }
  
}

@media screen and(max-width:576px) {
  .new-patient-list{
    margin-top: 20px;
  }

}
@media screen and(max-width:425px) {
  
 
  .new-patient-list{
    margin-top: 20px;
  }
  .text-white{
    font-size: 13px;
  }
  .chart-container {
    .ant-card-head-title  {
      padding: 0;
      text-align: center;
    }
    .ant-card-extra {
      position: absolute;
      padding-top: 5px;
      top: 50px;
      left: 70px;
  }
  }
  
}
@media screen and(max-width:375px) {
  .new-patient-list{
    margin-top: 20px;
  }
  .text-white{
    font-size: 12px;
  }
  
}
