// ant input
.ant-form-item-control {
    .ant-input {
        border-radius: 9px;
 
}
.ant-input:focus, .ant-input:hover {
    border-color: #595175;
    border-right-width: 1px !important;
    outline: none;
    box-shadow: none;
}
    .ant-time-picker-input{
        border-radius: 9px;
    }
    span.ant-calendar-picker {
        width: 100%;
    }
    span.ant-time-picker {
        width: 100%;
    }
    .ant-select {
        .ant-select-selection {
            border-radius: 9px;
            color: #8E93B7;
            &:focus {
                border-color: #595175;
                border-right-width: 1px !important;  
                box-shadow: none;
            }
        }
    }
   
}
.ant-form-item {
    margin-bottom: 10px;
    .ant-form-item-label {
        line-height: 28.9999px;
        font-weight: 600;
        color: #282626;
        font-size: 14px;
    }
}
