@media screen and (max-width:1024px) {
    .ant-modal {
        width: 55% !important;
    }
}
@media screen and (max-width:768px) {
    .ant-modal {
        width: 70% !important;
    }
}
@media screen and (max-width:576px) {
    .ant-modal {
        width: 85% !important;
    }
}
