@import '@/assets/variables/light';
.about-section {
    width: 80%;
    margin: auto;
    .about-left {
      h1 {
        color: #8cbe41;
        font-size: 2rem;
        font-family: $font-family-jost;
        font-weight: 600;
        span{
          font-size: 2rem;
          font-weight: 400 !important;
         
        }
      }
      p {
        color: $text-grey !important;
        font-size: 0.875rem;
        font-family:$font-family-jost;
        font-weight: 600;
        opacity: 1;
      }
      h3 {
        color: $heading-color;
        font-size: 1rem;
        font-family: $font-family-jost;
        font-weight: 600;
      }
      span{
        font-size: 0.938rem;
        font-weight: 400;
        opacity: 0.7;
        line-height: 2;
      }
    }
    span {
      font-size: 1rem;
    font-family: $font-family-jost;
    font-weight: 400;
    opacity: 0.5;
    }
    p{
      color: $text-grey !important;
      font-size: 1rem;
     
      font-family: $font-family-jost;
      opacity: 1;
    }
    h3 {
      color: $heading-color;
      font-size: 1rem;
      font-family: $font-family-jost;
      font-weight: 600;
    }
    h2 {
      color: $heading-color;
      font-size: 1.4rem;
      font-family: $font-family-jost;
      font-weight: 600;
    }
    .about-btn {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $text-white !important;
      border-radius: 30px;
      height: 40px;
      font-size: 1rem;
      font-family: $font-family-jost;
      font-weight: 700;
      span{
        color: $text-white !important;
        opacity: 1;
      }
    }
    .about-bottom-section{
      p{
        font-size: 1rem;
        font-weight: 400;
        font-family: $font-family-jost;
        opacity: 0.7;
      }
      h2 {
        color: $heading-color;
        font-size: 1.2rem;
        font-family: $font-family-jost;
        font-weight: 600;
    }
      .about-icons {
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        margin-top: 30px;
    
        background-color: $text-white;
        img {
          width: 100%;
        }
      }
    }
   

  }
  @media screen and (max-width: 1024px){
    .about-section {
    //    .about-bottom-section{
    //     h2 {
      
    //       font-size: 1rem;
         
    //   }
    //    .about-icons img {
    //     width: 70%;
    // }
    //    } 
    .about-left {
      h1 {
      
        font-size: 1.5rem;
     span{
      font-size: 1.5rem;
     }
      }
    h3{
      font-size: 1rem;
    }
    
    } p{
      font-size: 0.9rem;
    }
  
  h2{
    font-size: 1.3rem;
  }
  .text-highlight{
    font-size: 1.5rem;
   
  }
  h4{
    font-size: 0.8rem; 
  }
  }
 
  }
  @media screen and (max-width: 768px){
    .about-section {
      h2{
        font-size: 1.1rem;
      }
      .about-left {
        p{
          margin-top: 15px;
        }
        h1{
          font-size: 1.1rem;
          span{
            font-size: 1.1rem;
          }
        }
        h3{
          font-size: 0.9rem;
        }
      }
         .about-bottom-section{
          h2 {
        
            font-size: 1rem;
           
        }
         .about-icons img {
          width: 70%;
      }
         }}}