#auth {
    .auth-bg {
      position: absolute;
      bottom: 0;
      color: #aaa5bb;
    }
    .auth-img {
      background-image: url('/images/1.png');
      background-size: cover;
      height: 100vh;
      .provider-app-text {
        position: absolute;
        bottom: 200px;
        right: 130px;
        font-size: 1.8rem;
      }
    }
    .auth-line {
      width: 20px;
      border: 2px solid #04c6ff;
      border-radius: 5px;
      position: absolute;
      top: 135px;
    }
    .account-text {
      color: #04c6ff;
    }
    .ant-form-item {
      margin-bottom: 15px;
    }
    .ant-form-item-control {
      line-height: 50px;
  
      .ant-input {
        height: 40px;
        color: black;
      }
    }
    .ant-btn {
      height: 43px;
      background-color: #04c6ff;
      color: white;
      border: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .login-cridentials-box {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 3rem 2rem !important;
    }
  }
  @media screen and (max-width: 768px) {
    .auth-img {
      display: none;
    }
    .auth-line {
      top: 115px !important;
    }
  }
  @media screen and (max-width: 425px) {
    .login-cridentials-box {
      padding: 3rem 0rem !important;
    }
  }
  @media screen and (max-width: 375px) {
    .vcare-login {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }