@import '@/assets/variables/light';
.queries-bg {
    background-image: url('/images/housing/rectangle.png');
    background-size: cover;
    min-height: 65vh;
    height:65vh;
    width: 100%;
   .center-lign{
    text-align: center;
  display: table-cell;
  vertical-align: middle;
   }
    h1 {
      font-family: $font-family-centuryGothic;
      font-weight: 300;
      font-size: 3.2rem;
      color: $text-white;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        font-family: $font-family-jost;
        opacity: 0.6;
    }
    span{
      font-family: $font-family-centuryGothic;
      font-weight: 300;
      font-size: 3.2rem;
    }
    .heading-class {
      background-color: $text-yellogreen;
      padding: 12px;
      -ms-transform: skewY(20deg); /* IE 9 */
      transform: skewY(20deg);
    }
    #top-heading{
        width: 8em;
          color: $text-white;
          text-align: center;
          line-height: 2em;
          background-color: $text-yellogreen;
          transform: rotate(-3deg);
          position: relative;
          font-size: 1.75rem;
      }
  }
.queries-form-container {
    position: absolute;
    top: -114px;
  }
  .query-card {
    width: 60%;
    margin: auto;
    margin-top: 400px !important;
    img {
      width: 100%;
      padding: 10px;
      background: $background-grey;
    }
  }
  .contact-info {
    width: 80%;
    margin: auto;
    .ant-card-body {
      background-color: $primary-color;
      padding: 75px;
      h2 {
        font-size: 18px;
        font-family: $font-family-jost;
        font-weight: 500
      }
      h3 {
        font-size: 17px;
        font-family: $font-family-jost;
        font-weight: 500;
      }
  
      p {
        font-size: 1rem;
        font-family: $font-family-jost;
        font-weight: 400;
        color: $text-white;
        opacity: 0.7
      }
    }
  }
  .queries-form {
    width: 50%;
    margin: auto;
    .ant-card-body {
      padding: 15px;
      zoom: 1;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .ant-form-item{
          .ant-form-item-label{
            font-weight: 400;
            color: $text-brown;
            font-size: 22px !important;
            opacity: 0.7;
            font-family: $font-family-jost;
          }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .queries-bg {
    
      h1 {
  
        font-size: 2.9rem;
       
      }
      span{
        font-size: 2.9rem;
      }
       #top-heading {
     
        font-size: 1.6rem;
    }
  
    }
    .query-card{
      width: 50%;
      h2{
        font-size: 1.2rem;
       }
    }
   
  }
  @media screen and (max-width: 768px) {
      .queries-bg {
    
    h1 {

      font-size: 2.1rem;
     
    }
  
    span{
      font-size: 2.1rem;
    }
    #top-heading {
     
      font-size: 1.3rem;
  }
  p{
    font-size: 1rem;
  }
  }
  .query-card {
    width: 80%;
    margin: auto;
    margin-top: 400px !important;
    img {
      width: 100%;
      padding: 10px;
      background: $background-grey;
    }
  }
  .queries-form {
    width: 80%;
    margin: auto;
    .ant-card-body {
      padding: 15px;
      zoom: 1;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .ant-form-item{
          .ant-form-item-label{
            font-weight: 400;
            color: $text-brown;
            font-size: 22px !important;
            opacity: 0.7;
            font-family: $font-family-jost;
          }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .queries-bg {

h1 {

  font-size: 1.6rem;
 
}

span{
  font-size: 1.6rem;
}
#top-heading {
 
  font-size: 1.3rem;
}
p{
font-size: 1rem;
}
}
.queries-form-container {
  position: absolute;
  top: -114px;
}
.queries-form {
  width: 80%;
  margin: auto;
  .ant-card-body {
    padding: 15px;
    zoom: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .ant-form-item{
        .ant-form-item-label{
          font-weight: 400;
          color: $text-brown;
          font-size: 22px !important;
          opacity: 0.7;
          font-family: $font-family-jost;
        }
    }
  }
}
.query-card {
  width: 60%;
  margin: auto;
  margin-top: 400px !important;
  img {
    width: 50%;
    padding: 10px;
    background: $background-grey;
  }
}
}
@media screen and (max-width: 425px) {
  .queries-bg {

h1 {

  font-size: 2.1rem;
 
}

span{
  font-size: 2.1rem;
}
#top-heading {
 
  font-size: 1.3rem;
}
p{
font-size: 1rem;
}
}
.queries-form-container {
  position: absolute;
  top: -114px;
}
.queries-form {
  width: 80%;
  margin: auto;
  .ant-card-body {
    padding: 15px;
    zoom: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .ant-form-item{
        .ant-form-item-label{
          font-weight: 400;
          color: $text-brown;
          font-size: 22px !important;
          opacity: 0.7;
          font-family: $font-family-jost;
        }
    }
  }
}
.query-card {
  width: 60%;
  margin: auto;
  margin-top: 700px  !important;
  img {
    width: 50%;
    padding: 10px;
    background: $background-grey;
  }
}
}