.menu-drawer{
    .clode-icon{
        .anticon-close{
            background: #766aa2;
              padding: 6px;
              color: white;
              border-radius: 15px;
          }
    }
    .ant-drawer-content-wrapper{
        .ant-drawer-content{
            background-color: #42295a;
            .ant-drawer-body{
                padding:10px;
                .ant-menu-dark{
                    background-color: #42295a;
               .ant-menu-item{
                   height: 70px;
                   padding:10px;
               }
               .ant-menu-item-selected{
               background-color:  #423869 !important
               }
                }
            }
          
        }
      
    }
   
}