@import '@/assets/variables/light';
.menu-drawer{
    .clode-icon{
        .anticon-close{
            background: $secondary-color;
              padding: 6px;
              color: $text-white;
              border-radius: 15px;
          }
    }
    .ant-drawer-content-wrapper{
        .ant-drawer-content{
            background-color: $primary-color;
            .ant-drawer-body{
                padding:10px;
                .ant-menu-dark{
                    background-color: $primary-color;
               .ant-menu-item{
                   height: 70px;
                   padding:10px;
               }
               .ant-menu-item-selected{
               background-color:  $primary-color !important
               }
                }
            }
          
        }
      
    }
   
}