@import '@/assets/variables/light';
#drawing-anything{
    .ant-card {
       border-radius: 10px;
    }
    .blue-calling-card.ant-card {
        background-color: $group-calling-bg;
        .ant-tabs {
            color: $tabs-dark-grey;
        .ant-tabs-nav .ant-tabs-tab {
            margin: 0;
            padding: 5px 30px;
            .anticon {
                margin: 0;
            }
            .ant-tabs-tab-active {
                color: $text-white;
            }
          
        }
    }

        .ant-tabs-ink-bar {
            background-color: $success-color;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
            color: $text-white;
            }
            .meeting-duration {
                color: $meeting-text;
                opacity: 0.49;
            }
            .meeting-txt {
                color: $meeting-text;
                opacity: 1;
            }
         
    }
    .meeting-icon-box.ant-card {
        background-color: $group-calling-bg;
        border-radius: 26px;
        p {
            color: $meeting-text; 
        }
        .exit-meeting{
            color: $success-color;
        }
        
    }
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: $success-color !important;
}
#add-call {
    .ant-input {
      background-color: #F8F8F8 !important;
      border: $border-input;
      border-radius: 8px;
      height: 42px;
  
      padding-left: 48px;
    }
    .ant-modal-content {
        border-radius: 8px;
    }
    .add-btn {
      height: 35px;
      border-radius: 20px;
    }
  
    .anticon-search {
      margin-right: 310px;
      font-size: 1.625rem;
      color: rgb(124, 118, 118);
    }
    .ant-list-item-meta-content {
      margin-top: 16px;
    }
    .ant-checkbox-inner {
      border-radius: 50%;
      background-color: $primary-color;
      border-color: $primary-color;
      width: 24px;
      height: 24px;
    }
    .ant-checkbox-inner::after {
        top: 49%;
        left: 23%;
        width: 6.714286px;
        height: 12.142857px;
    }
    .ant-checkbox:hover {
        border: none !important;
    }
    .ant-list-split .ant-list-item {
      border-bottom: none;
    }
    .ant-modal-close {
      padding: 0px;
      .ant-modal-close-icon {
        padding: 4px;
        background-color: $primary-color;
        border-radius: 17px;
        color: $text-white;
        font-size: 0.75rem;
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }
  }
  @media screen and(max-width:1024px) {
    .drawing-anything {
        .meeting-icon-box{
            padding-left: 0 !important;
            padding-right: 0 !important;
          
        }
    }
    
}
@media screen and(max-width:768px) {
    .drawing-anything {
        .multiple-user-calling{
         .calling-img{
             width: 100%;
             margin-top: 31px;
         }
       
        }
    }
   #add-call{
       .ant-modal{
        width: 48% !important;
       }
   } 
}
@media screen and(max-width:576px) {
 
   #add-call{
       .ant-modal{
        width: 65% !important;
       }
   } 
}
@media screen and(max-width:425px) {
 


    #add-call{
        .ant-modal{
         width: 80% !important;
        }
    } 
 }
     
      
    
  
    

  