.filterBtn{
    display: none;
}
.filterBtn-margin{
    margin-top: 165px  !important;
}
@media screen and(min-width:786px) and (max-width:1000px){
    .filterBtn-margin{
        margin-top: 20px  !important;
    }
    .grid-container{
        padding-top :0px  !important;
        margin-top: 0px !important;
    }
    .hide-filters{
        display: none;

    }
    .filterBtn{
        display: block;
        
    }
    
}
@media screen and (min-width:576px) and (max-width:786px){
    .filterBtn-margin{
        margin-top: 80px  !important;
    }
    .grid-container{
        padding-top :0px  !important;
        margin-top: 0px !important;
    }
    .hide-filters{
        display: none;

    }
    .filterBtn{
        display: block;
        // margin-top: 165px  !important;
        
    }
   
    
}
@media screen and(max-width:425px) and (max-width:576px){
    .filterBtn-margin{
        margin-top: 165px   !important;
    }
    .grid-container{
        padding-top :0px  !important;
        margin-top: 0px !important;
    }
    .hide-filters{
        display: none;

    }
    .filterBtn{
        display: block;
        // margin-top: 165px  !important;
        
    }
   
    
}