@import '@/assets/variables/light';
#patient-management{
    .patient-management {
        .clinic-documents-btn {
          width: 480px;
          border-radius: 6px;
          .ant-card-body {
            padding: 8px;
            .documents-btn {
              background-color: $background-grey-light !important;
              border-color:  $background-grey-light !important ;
            }
            .btn-group{
              background-color:$secondary-color  ;
              border-color:  $secondary-color ;
            }
          }
        }
        .demo-profile-card{
            border-radius: 8px;
      textarea.ant-input {
    height: auto;
    background-color:$text-white !important;
}
label.ant-form-item-no-colon {
    font-weight: 600;
}
}
button.ant-btn {
    height: 45px;
    border-radius: 4px;
}
    .edit-profile-picture {
            border-radius: 8px;
            padding-bottom: 25px;
        .ant-card-body {
            padding: 10px; 
            }
        }
    }
    .profile-picture {
        border-radius: 8px;
        .profile-pic{                     
            width: 150px;
             border-radius: 50%; 
             border: 5px solid $primary-color;
    }
   
  }
  //draft 
.signature {
    background: transparent;
    border-radius: 8px;
}
i.anticon.anticon-delete {
  font-size: 1.25rem;
  color: $primary-color;
}

  // insurance
  .insurance {
  .insurance-card {
    border-radius: 8px !important;
    .ant-card-body {
        padding: 10px;
    }
    h2 {
      color: $text-grey;
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: medium;
    }
    span {
      color: $text-secondary;
      opacity: 1;
    }
    p {
      font-size: 0.813;
      letter-spacing: 0.65px;
    }
  }
  .ant-card-actions {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: $background-grey-light; 
    li {
      margin: 18px 0;
    }
    p{
    color: $text-white !important;
    }
}
i.anticon.anticon-more {
    font-size: 1.25rem;
}
}
}
@media screen and(max-width:1024px){
  #patient-management{
    .patient-management{
      .clinic-documents-btn{
        width: 100% !important;
        .ant-btn{
          width: 23.5%;
          padding:0px;
        }
      }
      
  
    }
  } 
}
@media screen and(max-width:768px){
  #patient-management{
    .patient-management{
      .clinic-documents-btn{
        width: 100% !important;
        .ant-btn{
          width: 23.5%;
        }
      }
      
  
    }
  } 
}
@media screen and(max-width:576px){
  #patient-management{
    .patient-management{
      .clinic-documents-btn{
        width: 100% !important;
        .ant-btn{
          margin-top: 10px;
          width: 48%;
        }
      }
      
  
    }
  } 
  .demo-profile-form{
margin-top: 20px;
  }
}
@media screen and(max-width:425px){
  #patient-management{
    .patient-management{
      .clinic-documents-btn{
        
        .ant-btn{
          margin-top: 10px;
          width: 48%;
        }
      }
      
  
    }
  } 
  .demo-profile-form{
    margin-top: 20px;
      }
      .demo-profile-picture{
        margin-top: 20px;
      }
}
@media screen and(max-width:375px){
  #patient-management{
    .patient-management{
      .clinic-documents-btn{
        
        .ant-btn{
          margin-top: 10px;
          width: 48%;
        }
      }
      
  
    }
  } 
  .demo-profile-form{
    margin-top: 20px;
      }
}
#document {
  .ant-card.ant-card-bordered {
    width: 100%;
  }
  .listCard {
    border-radius: 8px;
  }
  .description {
    display: flex;
    align-items: center;
  }
  .doc-list-text {
    font-size: 0.75rem;
    color: #C1C1C1;
  }
  .demo-profile-form{
    .ant-card-body{
      padding: 10px;
    }
  }
}