#patient-management{
    .patient-management {
        .clinic-documents-btn {
          min-width: 430px;
          border-radius: 6px;
          .ant-card-body {
            padding: 8px;
            .documents-btn {
              background-color: #aca5c7;
              border-color: #aca5c7;
            }
          }
        }
        .ant-radio-button-wrapper {
          background: #aca5c7;
          color: #ffffff;
          margin-left: 10px;
        }
        .demo-profile-card{
            border-radius: 18px;
textarea.ant-input {
    height: auto;
    background-color: #F5F7F9 !important;
}
label.ant-form-item-no-colon {
    font-weight: 600;
}
.ant-radio-button-wrapper {
    height: 55px;
    line-height: 50px;
    width: 65px;
    padding: 0;
    text-align: center;
}
.slots-time { 
     background-color: #F5F7F9 ;
    border-radius: 8px;
    border-color:#F5F7F9 ;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    background: #423869;
    border-color: #423869;
    color: #ffffff;
}

  
}
button.ant-btn {
    height: 45px;
    border-radius: 4px;
}
    .edit-profile-picture {
            border-radius: 18px;
            padding-bottom: 25px;
        .ant-card-body {
            padding: 10px; 
            }
        }
    }
    .profile-picture {
        border-radius: 18px;
        .profile-pic{                     
            width: 150px;
             border-radius: 50%; 
             border: 5px solid #423869;
    }
    .camera-icon{
        margin-right:20px;
    }
   
    .anticon-plus{
        position: absolute;
        top: 130px;
        right: 123px;
        font-size: 24px;
        background: #12c719;
        border-radius: 15px;
        color: white;
        padding: 5px;
    }
  }
  .Insurance {
  .insurance-card {
    border-radius: 8px !important;
    .ant-card-body {
        padding: 10px;
    }
    h2 {
      color: #1F2127;
      font-size: 20px;
      line-height: 1.2;
      font-weight: medium;
    }
    span {
      color: #1F2127B2;
      opacity: 1;
    }
    p {
      font-size: 13px;
      letter-spacing: 0.65px;
    }
  }
  .ant-card-actions {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #B4ACD3;
    p{
    color: #ffffff !important;
    }
}
i.anticon.anticon-more {
    font-size: 20px;
}
}
}