#patient-management{
    .patient-management {
        .clinic-documents-btn {
          min-width: 430px;
          border-radius: 6px;
          .ant-card-body {
            padding: 8px;
            .documents-btn {
              background-color: #aca5c7;
              border-color: #aca5c7;
            }
          }
        }
        .demo-profile-card{
            border-radius: 8px;
      textarea.ant-input {
    height: auto;
    background-color: #F5F7F9 !important;
}
label.ant-form-item-no-colon {
    font-weight: 600;
}
}
button.ant-btn {
    height: 45px;
    border-radius: 4px;
}
    .edit-profile-picture {
            border-radius: 8px;
            padding-bottom: 25px;
        .ant-card-body {
            padding: 10px; 
            }
        }
    }
    .profile-picture {
        border-radius: 8px;
        .profile-pic{                     
            width: 150px;
             border-radius: 50%; 
             border: 5px solid #423869;
    }
    .camera-icon{
        margin-right:20px;
    }
   
    .anticon-plus{
        position: absolute;
        top: 130px;
        right: 123px;
        font-size: 24px;
        background: #12c719;
        border-radius: 15px;
        color: white;
        padding: 5px;
    }
  }
  //draft 
.signature {
    background: transparent;
    border-radius: 8px;
}
i.anticon.anticon-delete {
  font-size: 20px;
  color: #423869;
}

  // insurance
  .insurance {
  .insurance-card {
    border-radius: 8px !important;
    .ant-card-body {
        padding: 10px;
    }
    h2 {
      color: #1F2127;
      font-size: 20px;
      line-height: 1.2;
      font-weight: medium;
    }
    span {
      color: #41D2F8;
      opacity: 1;
    }
    p {
      font-size: 13px;
      letter-spacing: 0.65px;
    }
  }
  .ant-card-actions {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #B4ACD3;
    p{
    color: #ffffff !important;
    }
}
i.anticon.anticon-more {
    font-size: 20px;
}
}
}
#document {
  .ant-card.ant-card-bordered {
    width: 100%;
  }
  .listCard {
    border-radius: 8px;
  }
  .description {
    display: flex;
    align-items: center;
  }
  .doc-list-text {
    font-size: 12px;
    color: #C1C1C1;
  }
}