@import '@/assets/variables/light';
#view-all-notifications {
    .ant-list-split,
    .ant-list-item {
      border: none;
    }
  
    .all-notifications-list {
      width: 100%;
  
      .ant-card {
        border-radius: 10px;
        .ant-card-body {
          padding: 15px;
        }
      }
      .change-background {
        background-color: $primary-color;
        // background-color: rgba(72, 65, 117, 0.2);
        // color: white;
        opacity: 1;
        img {
          background-color: $background-white;
          border-radius: 5px;
        }
        h3 {
          color: $text-white;
        }
        p {
          color: $text-brown;
        }
      }
    }
    i.delete-icon.anticon.anticon-delete {
      font-size: 20px;
      color: $text-white;
      padding-top: 20px;
      background-color: $text-brown;
      padding: 8px;
      cursor: pointer;
      border-radius: 5px;
    }
  }