@font-face {
    font-family:'Century Gothic';
    src: url('~assets/fonts/centuryGothic/Century-Gothic.ttf') format('truetype');
    font-style: normal;
  }
@font-face{
    font-family:'Century Gothic';
    src: url('~assets/fonts/centuryGothic/CenturyGothic.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Century Gothic';
    src: url('~assets/fonts/centuryGothic/GOTHIC.ttf') format('truetype');
    font-style: italic;
}
@font-face{
    font-family:  'Century Gothic';
    src: url('~assets/fonts/centuryGothic/GOTHICB0.TTF') format('truetype');
    font-style: normal;
    font-weight: 100;
}